<ion-view title="" hide-nav-bar="true">
    <div class="content-header-messages">
        <div class="content-header-messages-title">
            <h2 class="twigo-font">{{alang[96].text}}</h2>
        </div>
        <div class="loader02 hidden chats-loader" ng-if="loader || loaderMore"></div>
        <div class="contact-list-search chats-search">
            <i class="icon-svg contact-list-search__icon ion-ios-search-strong"></i>
            <input type="search" ng-change="srchchange()" ng-model="adn.item" placeholder="{{lang[616].text}}" class="font-base2 contact-list-search__input twigo-font" ng-focus="searchFocused = true" ng-blur="searchFocused = false" />
            <span class="font-base2 contact-list-search__cancel twigo-font" ng-click="ressetserach()" ng-if="searching"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="#5e5b5b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path><line x1="18" y1="9" x2="12" y2="15"></line><line x1="12" y1="9" x2="18" y2="15"></line></svg></span>
        </div>
    </div>

    <ion-content class="vivify chats-content" scroll="true" delegate-handle="userMessageScroll">
        <div class="page matches visible page-container">
            <div class="folder-view">
                <div class="contact-list mt-85">
                    <div class="csms-connections-item csms-connections-item--user" ng-class="!canSeeFans ? 'sblur' : ''" ng-click="openModalBoost(2)" ng-if="showBoostDiscover">
                        <div class="feature-card">
                            <div class="feature-card__promo">
                                <div class="brick brick--md" data-qa="brick">
                                    <div class="brick__image" style="background-image: url('{{me.profile_photo}}')"></div>
                                    <div class="brick__badge brick__badge--br">
                                        <div class="icon icon--md  icon--branded  icon--shadow " data-qa="icon">
                                            <svg class="icon__content icon__content--inactive">
                                                <svg viewBox="0 0 64 64" id="icon-circle-extra-shows" width="100%" height="100%"><circle fill="#00CAA8" cx="32" cy="32" r="32"></circle><path d="M37.19 21.33h5.84a3.2 3.2 0 0 1 3.2 3.2v17.78a3.2 3.2 0 0 1-3.2 3.2H30.21a3.2 3.2 0 0 1-2.74-1.56l10.25-2.75A4.62 4.62 0 0 0 41 35.54l-3.8-14.2zM16.47 23.7l4.6 17.18A3.2 3.2 0 0 0 25 43.14l12.35-3.32a3.2 3.2 0 0 0 2.27-3.91l-4.6-17.18a3.2 3.2 0 0 0-3.92-2.26l-12.36 3.31a3.2 3.2 0 0 0-2.27 3.92z" fill="#FFF"></path></svg>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-card__content">
                                <div class="feature-card__title">{{alang[231].text}}</div>
                            </div>
                        </div>
                    </div>
                    <ion-list can-swipe="listCanSwipe" delegate-handle="chat-list" scroll="true">
                        <ion-item class="chats-list" ng-repeat="p in matches track by $index" ng-if="all" ng-show="$index < loadM" class="" nav-transition="none">
                            <div class="csms-connections-item csms-connections-item--user vivify ">
                                <div class="csms-spring-box">
                                    <div class="csms-spring-box__media">
                                        <div class="csms-connections-item__media">
                                            <div class="csms-brick csms-brick--circle csms-brick--sm " ng-class="p.story > 0 ? 'storyOn profile-view-story-border-matches' : ''" ng-click="openStory(p.id,p.story)">
                                                <div class="csms-brick__avatar ">
                                                    <div class="csms-avatar">
                                                        <div class="csms-avatar__image " style="background-image: url('{{p.photo}}');"></div>
                                                    </div>
                                                </div>
                                                <div class="csms-brick__badge csms-brick__badge--br" ng-if="p.unreadCount > 0">
                                                    <div class="csms-mark csms-mark--red csms-mark--shadow">
                                                        <span class="csms-p-3">{{p.unreadCount}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="csms-spring-box__content" ng-click="changePage('home.messaging','left',p)">
                                        <div class="csms-connections-item__profile">
                                            <span class="csms-p-1">
                                                <div class="csms-profile-info">
                                                    <div class="csms-profile-info__name">
                                                        <span class="csms-profile-info__name-inner twigo-font font-bold font-dark-gray">{{p.name}}</span>
                                                    </div>
                                                    <div class="csms-profile-info__status">
                                                        <div class="csms-online-status csms-online-status--online" ng-if="p.status == 1"></div>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="csms-connections-item__message" data-qa="csms-connections-item__message">
                                            <span class="csms-p-1 twigo-font" ng-bind-html="unEntity(p.last_m) | nl2br"></span>
                                            <div class="text-xs text-muted text-right ng-binding chats-last-m-t">
                                                {{p.last_m_t}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ion-option-button class="button-positive button-chat-delete" ng-click="onItemDelete(p);matches.splice($index, 1)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                            </ion-option-button>
                        </ion-item>

                        <ion-item class="chats-list" ng-repeat="p in matches track by $index" ng-if="p.status == 1 && online" ng-show="$index < loadM" nav-transition="none">
                            <div class="csms-connections-item csms-connections-item--user">
                                <div class="csms-spring-box">
                                    <div class="csms-spring-box__media">
                                        <div class="csms-connections-item__media">
                                            <div class="csms-brick csms-brick--circle csms-brick--sm" ng-class="p.story > 0 ? 'storyOn' : ''" ng-click="openStory(p.id,p.story)">
                                                <div class="csms-brick__avatar">
                                                    <div class="csms-avatar">
                                                        <div class="csms-avatar__image" style="background-image: url('{{p.photo}}');"></div>
                                                    </div>
                                                </div>
                                                <div class="csms-brick__badge csms-brick__badge--br" ng-if="p.unreadCount > 0">
                                                    <div class="csms-mark csms-mark--red csms-mark--shadow">
                                                        <span class="csms-p-3">{{p.unreadCount}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="csms-spring-box__content" ng-click="changePage('home.messaging','left',p)">
                                        <div class="csms-connections-item__profile">
                                            <span class="csms-p-1">
                                                <div class="csms-profile-info">
                                                    <div class="csms-profile-info__name">
                                                        <span class="csms-profile-info__name-inner twigo-font font-bold font-dark-gray">{{p.name}}</span>
                                                    </div>
                                                    <div class="csms-profile-info__status">
                                                        <div class="csms-online-status csms-online-status--online" ng-if="p.status == 1"></div>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="csms-connections-item__message" data-qa="csms-connections-item__message">
                                            <span class="csms-p-1 twigo-font" ng-bind-html="unEntity(p.last_m) | nl2br"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ion-option-button class="button-positive button-chat-delete" ng-click="onItemDelete(p);matches.splice($index, 1)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                            </ion-option-button>
                        </ion-item>

                        <div class="only-premium top-80" ng-show="!canSeeFans">
                            <div class="credits-section text-center mt-0">
                                <div class="wrapper text-center">
                                    <div class="pos-rlt">
                                        <div class="thumb-xxl rounded profileP border-profile" 
                                        style="background-image:url({{me.profile_photo}});height:{{w}}px;width:{{w}}px;"></div>
                                    </div>
                                </div>
                                <h1>{{myfans.length}} {{alang[74].text}}</h1>
                                <h4>{{alang[75].text}}</h4>
                                <center>
                                    <span class="spotlight-me spotlight-me-btn" ng-click="openPremiumModal()">{{alang[76].text}}</span>
                                </center>
                                <br>
                            </div>
                        </div>
                        <ion-infinite-scroll class="hidden" immediate-check="false" on-infinite="loadMore()" distance="10%">
                        </ion-infinite-scroll>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>

    <div class="tabbar">
        <div class="tabbar__items">
            <div class="tabbar__item">
                <div class="tabbar-item is-active" ng-click="goTo('home.explore');">
                    <div class="tabbar-item__icon">
                        <div class="icon icon--stretch mt-5px">
                            <img src="{{siteUrl}}mobile/twigo/img/menu-discover.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabbar__item">
                <div class="tabbar-item" ng-click="goTo('home.meet');">
                    <div class="tabbar-item__icon">
                        <div class="icon icon--stretch mt-5px">
                            <img src="{{siteUrl}}mobile/twigo/img/menu-meet.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabbar__item">
                <div class="tabbar-item" ng-click="goTo('home.stories');">
                    <div class="tabbar-item__icon">
                        <div class="icon icon--stretch mt-5px">
                            <img src="{{siteUrl}}mobile/twigo/img/menu-stories.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabbar__item">
                <div class="tabbar-item" ng-click="goTo('home.matches');">
                    <div class="tabbar-item__icon">
                        <div class="icon icon--stretch mt-6px">
                            <img src="{{siteUrl}}mobile/twigo/img/menu-chat-active.svg">
                        </div>
                        <div class="tabbar-item__icon-indicator is-shown" ng-if="unreadMessage"></div>
                    </div>
                </div>
            </div>
            <div class="tabbar__item">
                <div class="tabbar-item" ng-click="goTo('home.profile');">
                    <div class="tabbar-item__icon">
                        <div class="icon icon--stretch mt-5px">
                            <img src="{{siteUrl}}mobile/twigo/img/menu-profile.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="wrapper-reward" ng-if="modalBoost">
        <div class="modal-reward modal--congratulations vivify fadeIn ">
            <div class="modal-reward-top boostDiscover">
                <div class="klose animated fadeInUp bg-333" ng-click="closeModalBoost()">
                    <i class="icon ion-close-round close-modal-boost"></i>
                </div>
                <img class="modal-reward-icon u-imgResponsive animated fadeInUp rounded profileP modal-user-photo" style="background-image:url({{me.profile_photo}});">
                <div class="modal-reward-header animated fadeInUp">{{boostTitle}}</div>
                <div class="modal-reward-subheader animated fadeInUp comforta fs-15">{{boostDesc}}<br>{{alang[121].text}} <strong>{{boostPrice}}</strong> {{alang[48].text}}</div>
            </div>
            <div class="modal-reward-bottom boostDiscover" ng-click="boostBtn();closeModalBoost();">
                <button class="modal-reward-btn u-btn u-btn--danger bg-none comforta">{{boostBtnText}}</button>
            </div>
        </div>
    </div>
</ion-view>