<ion-view title="" hide-nav-bar="true">

    <ion-content delegate-handle="modalContent" scroll="true" class="zIndex-600">
        <div class="twigo-navigation">
            <div class="nav-left">
                <h2 class="twigo-font">{{lang[46].text}}</h2>
            </div>
            <div class="nav-right-icon" ng-click="openEditProfileModal()">
                <div class="icon">
                    <svg class="icon__content icon__content--inactive icon-profile">
                        <svg viewBox="0 0 64 64" width="100%" height="100%">
                            <path fill="#fff"
                                d="M29.44 29.44a11.52 11.52 0 1 0 0-23.04 11.52 11.52 0 0 0 0 23.04zm0 2.56a14.08 14.08 0 1 1 0-28.16 14.08 14.08 0 0 1 0 28.16zm13.24 4.65H16.07C8.1 36.65 0 45 0 54.13v3.47h2.56v-3.47c0-7.75 6.97-14.92 13.5-14.92H42.7v-2.56z">
                            </path>
                            <path fill="#fff"
                                d="M39.17 55.04c.23 0 .82-.24.97-.4l20.96-20.9a.69.69 0 0 0 0-.97l-5.36-5.36a.69.69 0 0 0-.98 0L34.01 48.16c-.15.15-.4.75-.4.96v5.92h5.56zm13.78-29.45a3.25 3.25 0 0 1 4.6 0l5.36 5.36a3.25 3.25 0 0 1 0 4.6l-20.95 20.9a4.52 4.52 0 0 1-2.78 1.15h-6.5a1.63 1.63 0 0 1-1.63-1.62v-6.86c0-.9.52-2.14 1.15-2.77l20.75-20.76z">
                            </path>
                            <path fill="#fff" d="M46.54 33.48l7.56 7.66 1.82-1.8-7.56-7.66z"></path>
                        </svg>
                    </svg>
                </div>
            </div>
        </div>
        <div class="page own-profile visible ">
            <div>
                <div class="layout layout--centered-content h-tabbar-affected own-profile-abtest-control">
                    <div class="myprofile-bg twigo-gradient2"></div>

                    <div class="layout__content box-shadow-credits myprofile-card">

                        <div class="own-profile__userpic myphoto" ng-click="openProfileStory(me)">
                            <div class="brick brick--stretch box-shadow">
                                <div class="brick__image box-shadow-credits border-radius-50"
                                    ng-class="showStory ? 'storyOn' : ''"
                                    style="background-image: url('{{me.profile_photo}}');"></div>
                            </div>
                        </div>

                        <div class="own-profile__username twigo-font mt-50px myprofile-text"
                            ng-click="openProfileStory(me)">
                            <span class="myprofile-name-font">{{me.first_name}} <small>{{me.age}}</small></span>
                            <span class="myprofile-loc-font">{{me.city}}, {{me.country}}</span>
                        </div>
                        <div class="myprofile-separator"></div>
                        <div class="own-profile__payments">
                            <div class="own-profile__payments-row">

                                <div class="own-profile__payments-item" ng-click="goTo('home.match');">
                                    <div class="own-profile__payments-label twigo-font font-size-14px"><br>{{lang[22].text}}
                                    </div>
                                </div>

                                <div class="own-profile__payments-item"
                                    ng-click="openCreditsModal('{{me.profile_photo}}');">
                                    <div class="own-profile__payments-label twigo-font font-size-14px">
                                        <br>{{alang[48].text}}
                                    </div>
                                </div>

                                <div class="own-profile__payments-item" ng-click="openPremiumModal();">
                                    <div class="own-profile__payments-label twigo-font font-size-14px" data-lid="438">
                                    </div>
                                </div>
                            </div>
                            <div class="own-profile__payments-row">
                                <div class="own-profile__payments-item" ng-click="goTo('home.match');">
                                    <div class="own-profile__payments-value">
                                        {{me.totalMatches}}
                                    </div>
                                </div>

                                <div class="own-profile__payments-item"
                                    ng-click="openCreditsModal('{{me.profile_photo}}');">
                                    <div class="own-profile__payments-value">
                                        {{me.credits}}
                                    </div>
                                </div>
                                <div class="own-profile__payments-item" ng-click="openPremiumModal();">
                                    <div class="own-profile__payments-value twigo-font" ng-if="me.premium == 0">
                                        {{alang[247].text}}</div>
                                    <div class="own-profile__payments-value twigo-font" ng-if="me.premium == 1">
                                        {{alang[248].text}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout__footer layout__footer--hpadded layout__footer--vpadded mt-0">
                        <div class="layout__content box-shadow-credits myprofile-menu">
                            <div class="selector border-bottom-selector" ng-click="goTo('home.match');">
                                <div class="selector__icon selector__icon--chevron-righ myprofile-menu-icon bg-ED4A47">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"
                                        fill="#fff" stroke="#fff" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path
                                            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="selector__label twigo-font" data-lid="22"></div>
                                <div class="selector__icon mr-5px">
                                    <span>{{me.totalMatches}}</span>
                                </div>
                            </div>
                            <div class="selector border-bottom-selector" ng-click="goTo('home.visitors');">
                                <div class="selector__icon selector__icon--chevron-righ myprofile-menu-icon bg-50E3C2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"
                                        fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>
                                </div>
                                <div class="selector__label twigo-font" data-lid="286"></div>
                                <div class="selector__icon mr-5px">
                                    <small class="twigo-font bg-50E3C2 myprofile-new" ng-if="me.newVisits > 0"> {{alang[261].text}}
                                </small>
                                    <span ng-if="me.newVisits == 0">{{me.totalVisits}}</span>
                                </div>
                            </div>

                            <div class="selector border-bottom-selector" ng-click="goTo('home.likesme');">
                                <div class="selector__icon selector__icon--chevron-righ myprofile-menu-icon bg-9013FE">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"
                                        fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path
                                            d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3">
                                        </path>
                                    </svg>
                                </div>
                                <div class="selector__label comforta" data-lid="101"></div>
                                <div class="selector__icon mr-5px">
                                    <small class="comforta bg-9013FE myprofile-new" ng-if="me.newFans > 0">{{alang[261].text}}</small>
                                    <span ng-if="me.newFans == 0">{{me.totalFans}}</span>
                                </div>
                            </div>

                            <div class="selector border-bottom-selector-last" ng-click="goTo('home.mylikes');">
                                <div class="selector__icon selector__icon--chevron-righ myprofile-menu-icon bg-F05522">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"
                                        fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polygon
                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </div>
                                <div class="selector__label comforta" data-lid="295"></div>
                                <div class="selector__icon mr-5px">
                                    <span>{{me.totalMyLikes}}</span>
                                </div>
                            </div>

                        </div>

                        <div class="layout__content box-shadow-credits myprofile-menu-secondary">

                            <div class="selector border-bottom-selector" ng-click="openWithdrwal();" ng-if="cashout">
                                <div class="selector__icon selector__icon--chevron-righ myprofile-menu-icon bg-92DA44">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"
                                        fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <line x1="12" y1="1" x2="12" y2="23"></line>
                                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                    </svg>
                                </div>
                                <div class="selector__label comforta">{{alang[262].text}}</div>
                                <div class="selector__icon ">
                                    <small class="comforta myprofile-new bg-92DA44">
                                    {{currency}} {{me.payout}}
                                </small>
                                </div>
                            </div>
                            <div class="selector border-bottom-selector" ng-if="referrals" onclick="referrals('show')">
                                <div class="selector__icon selector__icon--chevron-righ myprofile-menu-icon bg-0c0f38 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"
                                        fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                                        <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                                    </svg>
                                </div>
                                <div class="selector__label comforta">{{lang[814].text}}</div>

                            </div>
                            <div class="selector border-bottom-selector hidden">
                                <div class="selector__icon selector__icon--chevron-righ myprofile-menu-icon bg-4A4A4A ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"
                                        fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <line x1="4.93" y1="4.93" x2="19.07" y2="19.07"></line>
                                    </svg>
                                </div>
                                <div class="selector__label comforta" data-lid="707"></div>

                            </div>
                            <div class="selector border-bottom-selector" ng-click="goTo('home.settings');">
                                <div class="selector__icon selector__icon--chevron-righ myprofile-menu-icon bg-DAD9E2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"
                                        fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <circle cx="12" cy="12" r="3"></circle>
                                        <path
                                            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="selector__label comforta">{{alang[40].text}}</div>

                            </div>

                            <!-- NEW: Upcoming Event Button -->
                            <div class="selector border-bottom-selector-last" onclick="showEventPopup()">
                                <div class="selector__icon selector__icon--chevron-righ myprofile-menu-icon"
                                    style="background: linear-gradient(135deg, #FFD700, #B8860B);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"
                                        fill="none" stroke="#000" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="M8 2v4"></path>
                                        <path d="M16 2v4"></path>
                                        <rect x="3" y="4" width="18" height="18" rx="2"></rect>
                                        <path d="M3 10h18"></path>
                                        <path d="M8 14h.01"></path>
                                        <path d="M12 14h.01"></path>
                                        <path d="M16 14h.01"></path>
                                        <path d="M8 18h.01"></path>
                                        <path d="M12 18h.01"></path>
                                        <path d="M16 18h.01"></path>
                                    </svg>
                                </div>
                                <div class="selector__label comforta">🎉 Upcoming Event</div>
                            </div>

                        </div>

                        <div class="layout__content box-shadow-credits myprofile-menu-secondary">
                            <div class="btn-open-premium" ng-if="me.premium == 0" ng-click="openPremiumModal();">
                                <div>{{alang[76].text}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div flow-init flow-name="uploader.flow" flow-files-added="processFiles($files)">
            <button flow-btn type="file" id="uploadRegPhoto" style="display: none;">{{alang[221].text}}</button>
        </div>
    </ion-content>

    <div class="tabbar">
        <div class="tabbar__items">

            <div class="tabbar__item">
                <div class="tabbar-item is-active" ng-click="goTo('home.explore');">
                    <div class="tabbar-item__icon">
                        <div class="icon icon--stretch mt-5px">
                            <img src="{{siteUrl}}mobile/twigo/img/menu-discover.svg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="tabbar__item">
                <div class="tabbar-item" ng-click="goTo('home.meet');">
                    <div class="tabbar-item__icon">
                        <div class="icon icon--stretch mt-5px">
                            <img src="{{siteUrl}}mobile/twigo/img/menu-meet.svg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="tabbar__item">
                <div class="tabbar-item" ng-click="goTo('home.stories');">
                    <div class="tabbar-item__icon">
                        <div class="icon icon--stretch mt-5px">
                            <img src="{{siteUrl}}mobile/twigo/img/menu-stories.svg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="tabbar__item">
                <div class="tabbar-item" ng-click="goTo('home.matches');">
                    <div class="tabbar-item__icon">
                        <div class="icon icon--stretch mt-6px">
                            <img src="{{siteUrl}}mobile/twigo/img/menu-chat.svg">
                        </div>
                        <div class="tabbar-item__icon-indicator is-shown" ng-if="unreadMessage"></div>
                    </div>
                </div>
            </div>

            <div class="tabbar__item">
                <div class="tabbar-item" ng-click="goTo('home.profile');">
                    <div class="tabbar-item__icon">
                        <div class="icon icon--stretch mt-5px">
                            <img src="{{siteUrl}}mobile/twigo/img/menu-profile-active.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="refModal"></div>

    <!-- Event Popup Overlay -->
    <div class="event-overlay" id="eventOverlay">
        <div class="event-modal">
            <!-- Close Button -->
            <div class="event-close" onclick="closeEventPopup()"></div>

            <!-- Header -->
            <div class="event-header">
                <div class="floating-icon">🥂</div>
                <div class="floating-icon">💎</div>
                <div class="floating-icon">👑</div>
                <div class="floating-icon">✨</div>

                <div class="event-badge">🌟 VIP Exclusive</div>
                <h1 class="event-title">Elite Singles Gala</h1>
                <p class="event-subtitle">An Evening of Luxury & Connection</p>
            </div>

            <!-- Body -->
            <div class="event-body">
                <!-- Event Details -->
                <div class="event-details">
                    <div class="detail-item">
                        <div class="detail-icon">💰</div>
                        <div class="detail-content">
                            <div class="detail-label">Ticket Price</div>
                            <div class="detail-value">KES 20,000</div>
                        </div>
                    </div>

                    <div class="detail-item">
                        <div class="detail-icon">📱</div>
                        <div class="detail-content">
                            <div class="detail-label">M-Pesa Till Number</div>
                            <div class="till-number">9867233</div>
                        </div>
                    </div>

                    <div class="detail-item">
                        <div class="detail-icon">📧</div>
                        <div class="detail-content">
                            <div class="detail-label">Send Proof To</div>
                            <div class="detail-value">contact@richdatingnetwork.com</div>
                        </div>
                    </div>
                </div>

                <!-- What's Included -->
                <div class="event-features">
                    <div class="feature-item">
                        <div class="feature-emoji">🍾</div>
                        <div class="feature-text">Premium Champagne & Cocktails</div>
                    </div>
                    <div class="feature-item">
                        <div class="feature-emoji">🎵</div>
                        <div class="feature-text">Live DJ & Entertainment</div>
                    </div>
                    <div class="feature-item">
                        <div class="feature-emoji">🍽️</div>
                        <div class="feature-text">Gourmet Dinner Experience</div>
                    </div>
                    <div class="feature-item">
                        <div class="feature-emoji">💼</div>
                        <div class="feature-text">Exclusive Networking</div>
                    </div>
                </div>

                <!-- Instructions -->
                <div class="event-instructions">
                    <div class="instructions-title">How to Get Your Ticket</div>
                    <div class="instruction-step">
                        <div class="step-number">1</div>
                        <div>Send <strong>KES 20,000</strong> to M-Pesa Till Number <strong>9867233</strong></div>
                    </div>
                    <div class="instruction-step">
                        <div class="step-number">2</div>
                        <div>Take a screenshot of your M-Pesa confirmation message</div>
                    </div>
                    <div class="instruction-step">
                        <div class="step-number">3</div>
                        <div>Email your transaction code or screenshot to receive your VIP ticket</div>
                    </div>
                </div>

                <!-- Email Button -->
                <a href="mailto:contact@richdatingnetwork.com?subject=Elite Singles Gala Ticket - M-Pesa Transaction&body=Hello,%0D%0A%0D%0AI have completed payment for the Elite Singles Gala event.%0D%0A%0D%0ATransaction Code: [Your M-Pesa Code]%0D%0AName: [Your Full Name]%0D%0APhone: [Your Phone Number]%0D%0A%0D%0APlease find attached the M-Pesa transaction screenshot.%0D%0A%0D%0AThank you!"
                    class="event-email-btn">
                    Send Payment Confirmation →
                </a>
            </div>
        </div>
    </div>

    <!-- Event Popup Styles -->
    <style>
        /* Overlay */
        .event-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.85);
            backdrop-filter: blur(10px);
            z-index: 99999;
            display: none;
            align-items: center;
            justify-content: center;
            animation: fadeIn 0.3s ease;
        }

        .event-overlay.show {
            display: flex !important;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Main Modal */
        .event-modal {
            background: linear-gradient(135deg, #1a1a1a 0%, #0d0d0d 100%);
            border: 2px solid #FFD700;
            border-radius: 30px;
            max-width: 500px;
            width: 90%;
            position: relative;
            overflow: hidden;
            box-shadow: 0 30px 80px rgba(255, 215, 0, 0.3);
            animation: slideUp 0.5s ease;
            max-height: 90vh;
            overflow-y: auto;
        }

        @keyframes slideUp {
            from {
                transform: translateY(50px);
                opacity: 0;
            }

            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        /* Close Button */
        .event-close {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 215, 0, 0.3);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 10;
            transition: all 0.3s ease;
        }

        .event-close:hover {
            background: rgba(255, 215, 0, 0.2);
            transform: rotate(90deg);
        }

        .event-close::before,
        .event-close::after {
            content: '';
            position: absolute;
            width: 18px;
            height: 2px;
            background: #FFD700;
        }

        .event-close::before {
            transform: rotate(45deg);
        }

        .event-close::after {
            transform: rotate(-45deg);
        }

        /* Header with floating elements */
        .event-header {
            position: relative;
            padding: 50px 30px 30px;
            text-align: center;
            background: linear-gradient(135deg, #FFD700 0%, #B8860B 100%);
            overflow: hidden;
        }

        .floating-icon {
            position: absolute;
            font-size: 2rem;
            opacity: 0.2;
            animation: floatAround 6s ease-in-out infinite;
        }

        .floating-icon:nth-child(1) {
            top: 10%;
            left: 10%;
            animation-delay: 0s;
        }

        .floating-icon:nth-child(2) {
            top: 60%;
            left: 15%;
            animation-delay: 1s;
        }

        .floating-icon:nth-child(3) {
            top: 20%;
            right: 15%;
            animation-delay: 2s;
        }

        .floating-icon:nth-child(4) {
            top: 70%;
            right: 10%;
            animation-delay: 1.5s;
        }

        @keyframes floatAround {

            0%,
            100% {
                transform: translateY(0) rotate(0deg);
            }

            50% {
                transform: translateY(-20px) rotate(10deg);
            }
        }

        .event-badge {
            display: inline-block;
            background: rgba(0, 0, 0, 0.3);
            color: #fff;
            padding: 8px 20px;
            border-radius: 50px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        .event-title {
            font-family: 'Playfair Display', serif;
            font-size: 2rem;
            font-weight: 700;
            color: #000;
            margin-bottom: 10px;
            line-height: 1.2;
        }

        .event-subtitle {
            font-size: 1rem;
            color: #333;
            font-weight: 500;
        }

        /* Body Content */
        .event-body {
            padding: 25px;
            color: #fff;
        }

        .event-details {
            background: rgba(255, 215, 0, 0.1);
            border: 1px solid rgba(255, 215, 0, 0.3);
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 20px;
        }

        .detail-item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            padding: 10px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 10px;
        }

        .detail-item:last-child {
            margin-bottom: 0;
        }

        .detail-icon {
            width: 40px;
            height: 40px;
            background: linear-gradient(135deg, #FFD700, #B8860B);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            font-size: 1.2rem;
            flex-shrink: 0;
        }

        .detail-label {
            font-size: 0.75rem;
            color: #FFD700;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 3px;
        }

        .detail-value {
            font-size: 1rem;
            color: #fff;
            font-weight: 500;
        }

        .till-number {
            font-family: 'Courier New', monospace;
            font-size: 1.3rem;
            color: #FFD700;
            font-weight: 700;
            letter-spacing: 2px;
        }

        /* Instructions */
        .event-instructions {
            background: rgba(255, 215, 0, 0.05);
            border-left: 3px solid #FFD700;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .instructions-title {
            font-size: 1rem;
            color: #FFD700;
            font-weight: 600;
            margin-bottom: 12px;
        }

        .instruction-step {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
            color: #ccc;
            line-height: 1.5;
            font-size: 0.9rem;
        }

        .instruction-step:last-child {
            margin-bottom: 0;
        }

        .step-number {
            background: linear-gradient(135deg, #FFD700, #B8860B);
            color: #000;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            font-weight: 700;
            margin-right: 10px;
            flex-shrink: 0;
        }

        /* Email Button */
        .event-email-btn {
            display: block;
            width: 100%;
            background: linear-gradient(135deg, #FFD700, #B8860B);
            color: #000;
            padding: 16px;
            border: none;
            border-radius: 50px;
            font-size: 1rem;
            font-weight: 700;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
            box-shadow: 0 10px 30px rgba(255, 215, 0, 0.3);
        }

        /* Features Grid */
        .event-features {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
            margin-bottom: 20px;
        }

        .feature-item {
            background: rgba(255, 215, 0, 0.1);
            border: 1px solid rgba(255, 215, 0, 0.2);
            border-radius: 10px;
            padding: 12px;
            text-align: center;
        }

        .feature-emoji {
            font-size: 1.8rem;
            margin-bottom: 6px;
        }

        .feature-text {
            font-size: 0.85rem;
            color: #ccc;
            line-height: 1.4;
        }
    </style>

    <!-- Event Popup JavaScript -->
    <script>
        function showEventPopup() {
    var overlay = document.getElementById('eventOverlay');
    if (overlay) {
        overlay.classList.add('show');
        document.body.style.overflow = 'hidden';
    }
}

function closeEventPopup() {
    var overlay = document.getElementById('eventOverlay');
    if (overlay) {
        overlay.classList.remove('show');
        document.body.style.overflow = 'auto';
    }
}

// Close on overlay click
document.addEventListener('DOMContentLoaded', function() {
    var overlay = document.getElementById('eventOverlay');
    if (overlay) {
        overlay.addEventListener('click', function(e) {
            if (e.target === this) {
                closeEventPopup();
            }
        });
    }
});

// Close on ESC key
document.addEventListener('keydown', function(e) {
    if (e.key === 'Escape') {
        closeEventPopup();
    }
});
    </script>

</ion-view>