<style>
	ion-header-bar{
		display: none !important;
	}
</style>
<ion-view title="" hide-nav-bar="true">
<ion-content ng-style="{height: iframeHeight + 'px'};" scroll="false" > 
  <div class="wrapper loader-bg-fafafa" fit vertical layout justified>
    <div class="contact-list__loader_inline top-45p">
        <div class="loader large grey centered" >
            <div class="first dot twigo-gradient1"></div>
            <div class="second dot twigo-gradient1"></div>
            <div class="third dot twigo-gradient1"></div>
        </div>
    </div>
  </div>
</ion-content>
</ion-view>