<ion-view title="" hide-nav-bar="true">
  <ion-nav-title>
    <div class="navigation-bar">
      <div class="navigation-bar__primary">
      </div>
      <div class="navigation-bar__title">
        <div class="navigation-bar__logo zIndex-999">
          <img src="{{logo}}" />
        </div>
      </div>
      <div class="navigation-bar__secondary"></div>
    </div>
  </ion-nav-title>
  <ion-content ng-style="{height: iframeHeight + 'px'}"  scroll="true">
    <div class="page landing visible zIndex-600">
    <div class="flexible-page">
      <div class="page-content ">
        <div class="landing-decorations twigo-landing" style="background-image:url('twigo/img/twigo_bg.png')">
        </div>
        <div class="landing-wrapper pt-16vh">
          <div class="landing-logo">
            <img src="{{logo}}"></img>
          </div>
          <div class="landing-actions">
            <div class="cta-box">
              <div class="cta-box__content comforta twigo-landing-text" data-alid="148"></div>
              <div class="cta-box__buttons">
                <ul class="list-view ">
                  <form autocomplete="off">
                    <li class="list-item-form twigo-landing-input">
                      <input ng-model="user.login_email" class="comforta box-shadow-credits input-text" name="name" type="email" autocomplete="new-password" placeholder="{{alang[149].text}}" autocapitalize="off">
                    </li>
                    <li class="list-item-form twigo-landing-input" ng-show="!forgetBtn">
                      <input id="pass" autocomplete="new-password" class="comforta box-shadow-credits input-text" ng-keyup="keyup(user.login_pass.length)" ng-model="user.login_pass" name="password" type="password" placeholder="{{alang[150].text}}">
                    </li>
                  </form>
                </ul>
                <div class="button-wrapper mt-25px">
                  <div class="login-loader mb-40" ng-if="loginBtn && !forgetBtn">
                    <center>
                      <div class="loader02"></div>
                    </center>
                  </div>
                  <button class="button twigo-gradient2 pr-20" ng-if="!loginBtn" ng-class="{disabled: isActive}" ng-click="send(user)">
                    <div class="button__content"><span class="button__text fc-fff">{{alang[151].text}}</span></div>
                  </button>
                  <button class="button button--primary" ng-if="forgetBtn" ng-click="forget(user)">
                    <div class="button__content"><span class="button__text" data-alid="152">{{alang[152].text}}</span></div>
                  </button>
                  <button ng-click="register()" class="inline-button inline-button--primary mt-25 twigo-landing-btn">
                    <span class="inline-button__text" data-alid="153"></span>
                    </button>                                                     
                </div>
              </div>
            </div>
            <div class="landing-footer">
              <span ng-click="recoverPass()" ng-if="!loginBtn">{{alang[154].text}}</span>
              <span ng-click="backLogin()" ng-if="loginBtn">{{alang[155].text}}</span>
              <a ng-click="openPrivacy()">{{alang[156].text}}</a>
              <a ng-click="openTerms()">{{alang[157].text}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>